body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

#navbar {
  background-color: #cc0033;
  height: 60px;
}

#navbarLogo {
  background-color: #303030;
  height: 40px;
  margin-bottom: 10px;
  width: 10%;
}

#searchBar {
  background: url(./icons/search_icon.svg) right no-repeat;
  background-color: #a00027;
  border: none;
  height: 35px;
  left: 35%;
  margin-bottom: 10px;
  right: 50%;
  width: 100%;
}

#navbarLower {
  background-color: #a00027;
  padding: 20px;
}

#bwImg{
  background: url("./images/B&W_bg.jpg") no-repeat;
  background-size: 100% 100%;
  top: 0;
}

h1 {
  font-size: 52px;
}

h2 {
  font-weight: lighter;
}

#promoText {
  color: white;
  margin: 25px;
  max-width: 700px;
}

#peakImage {
  margin: 20px;
}

#mintCard {
  background-color: #35D3B4;
  border: 10px solid white;
  border-radius: 4px;
  box-shadow: 0 0 10px #fff;
  color: white;
  height: 225px;
  margin: 5px 5px 5px 25px;
  text-align: center;
  width: 550px;
}

#blueCard {
  background-color: #1B2191;
  border: 10px solid white;
  border-radius: 4px;
  box-shadow: 0 0 10px #fff;
  color: white;
  height: 225px;
  margin: 5px;
  text-align: center;
  outline: none;
}

#purpleCard {
  background-color: #D822EE;
  border: 10px solid white;
  border-radius: 4px;
  box-shadow: 0 0 10px #fff;
  color: white;
  height: 225px;
  margin: 5px 25px 5px 5px;
  text-align: center;
}

#whiteSpace {
  height: 150px;
  position: relative;
  top: 100px;
  z-index: 1;
}

footer {
  background-color: #303030;
  color: white;
  display: block;
  height: 300px;
  text-align: center;
  width: 100%;
}

.footer {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {

}